rect.s_region {
	fill: #95b074;
}

rect.se_region {
	fill: #44c944;
}

rect.n_region {
	fill: #7e819c;
}

rect.ne_region {
	fill: #6bb6d1;
}

rect.co_region {
	fill: #bd8c2b;
}

rect.brazil {
	fill: #b33d3d;
}

.chartTitle {
	font-size: 2em;
	fill: #635F5D;
	text-anchor: middle;
}

text {
	font-family: sans-serif;
}

rect {
	stroke-width: 0;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}

path.domain {
	stroke-width: 0;
}

rect.public {
	stroke-width: 0.5;
	stroke: black;
}

rect.private {
	stroke-width: 0.5;
	stroke: black;
}

rect.global {
	opacity: 0.6;
}

.boxplotQuantile {
	stroke: #969393;
	stroke-width: 1;
}

body {
	background-color: #dbd9d7;
	font-family: sans-serif;
}

#tooltip {
	opacity: 0;
	visibility: none;
}

.boxplot-medianLine {
	stroke: black;
	stroke-width: 0.5;
}

.boxplot-rect {
	stroke: black;
}

.meanLine {
	stroke: #b33d3d;
}

circle {
	opacity: 0.7;
	fill: none;
	stroke-width: 3;
}

circle.s_region {
	stroke: #95b074;
}

circle.se_region {
	stroke: #44c944;
}

circle.n_region {
	stroke: #7e819c;
}

circle.ne_region {
	stroke: #6bb6d1;
}

circle.co_region {
	stroke: #bd8c2b;
}

circle.brazil {
	stroke: #b33d3d;
}

.legend {
	font-size: 0.8em;
	fill: #635F5D;
}

.income_reference {
	stroke: #b33d3d;
	fill: none;
}