.s_region {
	fill: blue;
}

.se_region {
	fill: yellow;
}

.n_region {
	fill: pink;
}

.ne_region {
	fill: red;
}

.co_region {
	fill: green;
}

.brazil {
	fill: brown;
}

.chartTitle {
	font-size: 2em;
	fill: #635F5D;
	text-anchor: middle;
}

text {
	font-family: sans-serif;
}

rect {
	stroke-width: 0;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -mox-box-shadow: 4px 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rbga(0, 0, 0, 0.4) pointer-events: none;
}

path.domain {
	stroke-width: 0;
}

.public {
	stroke-width: 1;
	stroke: black;
}

.private {
	stroke-width: 1;
	stroke: blue;
}

rect.global {
	opacity: 0.5;
}

.boxplotQuantile {
	stroke: red;
	width: 40;
}

body {
	background-color: #C9C6C4;
}

#tooltip {
	opacity: 0;
	visibility: none;
}