.s_region {
	fill: blue;
}

.se_region {
	fill: yellow;
}

.n_region {
	fill: pink;
}

.ne_region {
	fill: red;
}

.co_region {
	fill: green;
}

.brazil {
	fill: brown;
}

.chartTitle {
	font-size: 2em;
	fill: #635F5D;
	text-anchor: middle;
}

text {
	font-family: sans-serif;
}
